parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Cannot cast mixed to int#'
		- '#Access to .* ServiceBus\\Storage\\Sql\\Migration\\MigrationType(.*)#'
